<div class="">
  <h2 class="text-center p-3 mb-2 bg-primary text-white" style="margin: 20px 0 20 px 0">Эксклюзивные туры</h2>
  <div class="card-columns">
    <div class="card">
      <img src="https://monkeysandmountains.com/wp-content/uploads/2018/11/travel-to-lviv-ukraine-76-xl.jpg" class="card-img-top" alt="" style="height:300px">
      <div class="card-body">
        <h3 class="card-title">Тур во Львове</h3>
        <div class="card-text">
          <i>Локация:</i> <u>Львов, Львовская область</u><br>
          <br>

        </div>
      </div>
      <div class="card-footer">
        <small class="text-muted">Создан 5 дней назад</small>
        <p style="float:right">
            Антон Даценко
        </p>

      </div>
    </div>

    <div class="card">
      <img src="http://www.bestkv.com/_nw/0/31264499.jpg" class="card-img-top" alt="" style="height:300px">
      <div class="card-body">
        <h3 class="card-title">Топ скрытых мест в Одессе</h3>
        <div class="card-text">
          <i>Локация:</i> <u>Одесса, Одесская область</u><br>
          <br>

        </div>
      </div>
      <div class="card-footer">
        <small class="text-muted">Создан 30 дней назад</small>
        <p style="float:right">
            Иван Сергеев
        </p>
      </div>
    </div>


    <div class="card">
      <img src="http://relax.com.ua/wp-content/media/kiew/2015/06/podzemnaja_turma.jpg" style="height:300px" class="card-img-top" alt="">
      <div class="card-body">
        <h3 class="card-title">Тайны забытого Харькова</h3>
        <div class="card-text">
          <i>Локация:</i> <u>Харьков, Харьковская область</u><br>
          <br>

        </div>
      </div>
      <div class="card-footer">
        <small class="text-muted">Создан 1 день назад</small>
        <p style="float:right">
            Андрей Черный
        </p>

      </div>
    </div>
  </div>
</div>

<h2 class="text-center p-3 mb-2 bg-primary text-white" style="margin: 20px 0 20 px 0">Уютные отели</h2>
<div class="card-columns">
  <div class="card">
    <img src="https://ua.igotoworld.com/frontend/webcontent/websites/1/images/hotels/52720_800x600%20(1).jpg" style="height:300px"  class="card-img-top" alt="">
    <div class="card-body">
      <h3 class="card-title">Отель "Веселый" п. Горького</h3>
      <div class="card-text">
        <i>Локация:</i> <u>Харьков, Харьковская область</u><br>
        <br>

      </div>
    </div>
  </div>

  <div class="card">
    <img src="https://www.ahstatic.com/photos/a034_ho_00_p_1024x768.jpg" style="height:300px"  class="card-img-top" alt="">
    <div class="card-body">
      <h3 class="card-title">Отель "Перлина" в центре</h3>
      <div class="card-text">
        <i>Локация:</i> <u>Одесса, Одесская область</u><br>
        <br>

      </div>
    </div>
  </div>

  <div class="card">
    <img src="https://media-cdn.tripadvisor.com/media/photo-s/11/ce/1f/42/caption.jpg" style="height:300px"  class="card-img-top" alt="">
    <div class="card-body">
      <h3 class="card-title">Отель "Либiдь"</h3>
      <div class="card-text">
        <i>Локация:</i> <u>Киев, Киевская область</u><br>
        <br>

      </div>
    </div>
  </div>
</div>
