<h1 class="text-center" style="margin: 40px 0 50px 0">Обо мне</h1>
<div class="text-center">

  <%= image_tag 'myPhoto.JPG', alt: 'mPhoto', style: 'height:500px; border-radius:5px;float:left;margin: 0 50px 0 0' %>
  <h4 style="line-height: 1.5;">Привет всем! Меня зовут Антон Даценко. Я очень люблю путешествовать по Украине.
    Поэтому я решил создать приложение для туристов, которое могло бы помочь им планировать свою поездку.
    Чтобы использовать мое приложение, вы должны зарегистрироваться.
    После регистрации вы будете иметь возможность создавать туры по конкретным локациям в Украине.
    Также вы имеете доступ к турам, которые создали другие путешественники, и их сохранять их себе.
    Кроме этого, есть возможность создавать планы, которые состоят из план-поинтов(туров, которые вы сохранили).
    Будет круто, если вы будете оставлять комментарии под турами.
    Чтобы вам было легче планировать, вы имеете доступ к отелям, какие находяться по локации, где вы собираетесь ехать.
    <br>
    <br>
    И помните, что все в жизни меняеться: политика, президенты, страны. Но впечатления, которые вы получите во время путешествия у вас не отберет никто и никогда!
    </h4>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
