<h2 class="text-center">Как зарегистрировать мой отель?</h2>
<h4 class="text-center" style="text-align: justify; margin: 50px 150px 10px 150px;line-height: 1.5;">
   Если вы хотите зарегистрировать ваш отель, перечислите ... грн на мою карточку(0000 0000 0000 0000)
   и в течении 24 часов у вас появиться кнопка "Зарегистрировать мой отель". При нажатии на нее откроеться форма для заполнения данных.
   Ваш отель будет в общем списке при поиске, если у вас есть свободние места.
   Если вы хотите зарегистрировать несколько отелей, умножьте суму на количество отелей.
   После регистрации у вас появиться вкладка "My hotels", где вы можете просмотреть ваши отели и указать есть ли у вас свободные места.
   Оставляйте свои контакты, чтобы пользователи могли связаться с вами.
   <br>
   <br>
  <a href="https://www.privat24.ua" target="_blank" class="btn btn-success">Приват24</a>
</h4>
