<h2>Profile</h2>
<p><%= @user.username %></p>
<%= image_tag @user.avatar.url, alt: 'avatar', style: 'weight:200px;height:200px'%><br>
<%= link_to 'Tours', tours_path %><br>
<%= link_to 'Create Tour', new_tour_path %>
