<%= link_to image_tag('back_button', alt: 'back', style: 'height:40px;margin:15px'), @plan %>
<h2 class="text-center">Тур для <span class="text-primary border border-primary">&nbsp;<%= @plan.name %>&nbsp;</span></h2>
<form-new-plan-point :user_id="<%= current_user.id %>" :plan_in_id="<%= @plan.id %>"></form-new-plan-point>
