<div class="alert alert-primary" role="alert">
    ๐ต๐ฝโโ๏ธ ๐ ะญัะพั ัะฐะนั ัะพะทะดะฐะฝ ะดะปั ะฟััะตัะตััะฒะตะฝะฝะธะบะพะฒ. ะะตะณะธัััะธััะนัะตัั ะธ ะฟััะตัะตััะฒัะนัะต!
</div>

<div class="row">
  <div class="col-12">
    <%= image_tag('fon.jpg', alt: "", style: 'width:100%;height:480px;background-position:center center') %>
  </div>
</div>

<%= render 'static_pages/content' %>
